
<section class="social">
    <article>
        <h1>Find Me!</h1>
        <h3>Contact Details</h3>
        <ul>
            <li>e. <a href="mailto:david@setr.co.uk">david@setr.co.uk</a></li>
        </ul>
        <h3>Social networks</h3>
        <ul>
            <li><a href="http://github.com/maracuja">A collection of my plain-text passwords on Github</a></li>
            <li><a href="http://instagr.am/maracuja">Maracuja on Instagram</a></li>
            <li><a href="http://uk.linkedin.com/in/davidgeorgehamilton">Myself on Linkedin</a></li>
        </ul>
    </article>
</section>