
<!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->
<section class="about-me">
    <article>
        <h1>David-George Hamilton<br><span>Python Developer and Awesome Guy</span></h1>
        <p>
            To get in touch please send an email here <a href="mailto:david@setr.co.uk">david@setr.co.uk</a>
            or have a look at my <a href="https://uk.linkedin.com/in/davidgeorgehamilton" target="_so_hot_right_now_">LinkedIn</a>
            profile to see if I have the skills you're looking for. I recently started adding things to my
            <a href="https://github.com/maracuja/" target="_cant_wait_to_see_what_you_came_up_with_">github</a>.<p>

            <p>If you're not quite ready to hire me, but still want to stalk me online for a while you can have a look at my
            <a href="https://www.instagram.com/maracuja/" target="_wow_he_speaks_a_foreign_language_">instagram</a> 👀
        </p>
    </article>
</section>
