
<!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->
<section class="about-me">
    <video  autoplay="true" loop="true" muted="" style="height: 100%; width: 100%;">
        <source src="http://bbq.omglol.co.uk/vids/whiteboarding.mp4">
    </video>
    <img src="/img/header.png">

    <article>
        <h1>David-George Hamilton<br><span>Python Developer and Awesome Guy</span></h1>
        <p>
            To get in touch please send an email here <a href="mailto:david@setr.co.uk">david@setr.co.uk</a>
            or have a look at my <a href="https://uk.linkedin.com/in/davidgeorgehamilton">LinkedIn</a> profile to
            see if I have the skills you're looking for.
        </p>
    </article>
</section>
